@color: rgb(248, 157, 39);

@font-face {
  font-family: "DIN";
  src: url("@/assets/fonts/庞门正道标题体2.0增强版.ttf");
  font-style: normal;
  font-weight: normal;
}
.wrapper {
  color: @color;
  font-family: "DIN";

  .box {
    width: 1000px;
    height: 500px;
    border: 1px solid #ccc;
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;
    .item {
      // flex-shrink: 0; //属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小
      flex-grow: 1; // 定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大
      width: 300px;
      background-color: #fce09e;
      border: 1px solid red;
    }
  }
  img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: block;
  }
}
